@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap%27');

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*
header div.logo          = 108px
header div.logo div#line = 2px
header ul                = 70px
body                     = *px
*/

/*#region header*/
header {
    position: fixed;
    height: 180px;
    width: 100%;
    background-color: black;
}

div.logo {
    display: flex;
    height: 110px;
    width: 100%;
    justify-content: center;
    z-index: 2;
}

div.logo div#line {
    position: absolute;
    align-self: flex-end;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 2s cubic-bezier(.19,1,.22,1);
}

header ul {
    height: 70px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header ul li {
    list-style: none;
    vertical-align: middle;
    padding: 0 10px;
}

header ul li a {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 5px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

header ul li a::after {
    display: block;
    position: absolute;
    content: ".";
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    color: transparent;
    height: 1px;
    z-index: -1;
    background: white;
    width: 0;
    transition: width .5s;
}

header ul li a:hover::after {
    width: 100%;
}
/*#endregion*/

/*#region popups*/
.button {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background-color: #ff5252;
    text-align: center;
    cursor: pointer;
} 

.button span {
    line-height: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.popup {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
    background-color: #1b1f22;
    color: #fff;
}

.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}

@media screen and (max-width: 768px) {

    .popup {
        width: 100%;
        height: 100vh;
        font-size: 15px;
    }
}



#map_gandonchir{
    position: relative;
    height:50%;
    width: 50%;
}

.menu_a{
    text-decoration: none;
    position: relative;
    color: white;
    font-weight: 700;

}

.menu_a::before{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: 0.4s;
    
}

.menu_a:hover:before{
    width: 100%;
    color: white;
}

.menu_li{
    list-style-type: none;
}
/*#endregion*/

/*#region preloader*/
#plug {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: opacity .5s;
}

#logo-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: calc(50vh - 25vh);
    transition: top .5s;
}

#logo-box #helmet {
    box-sizing: border-box;
    filter: invert(1);
    padding: 20px;
    height: 50vh;
    opacity: 0;
    transition: height .5s;
}

#logo-box #circle {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 100%;
    background-color: white;
    transition: transform 1.5s, border-radius .5s, height .5s, width .5s;
}

#logo-box #label {
    display: flex;
    overflow: visible hidden;
    transition: opacity .2s;
}

#logo-box #label a.label-char {
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 48px;
    transform: translateY(100%);
    transition: transform .4s cubic-bezier(.19,1,.22,1);
}
/*#endregion*/