@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap%27');

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

body.unscrollable {
    position: fixed;
}

* {
    font-family: 'Raleway', sans-serif;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
}

/*
header div.logo          = 108px
header div.logo div#line = 2px
header ul                = 70px
body                     = *px
*/

/*#region header*/
header {
    position: relative;
    min-height: 110px;
    width: 100%;
    background-color: black;
}

/* header.fixed ~ div.logo {
    position: fixed;
    width: 100%;
    z-index: 999;
}

header.fixed ~ div#logo-box {
    position: fixed;
    width: 100%;
    background: black;
    z-index: 999;
} */

div.logo {
    position: absolute;
    top: 0;
    display: flex;
    height: 110px;
    width: 100%;
    justify-content: center;
    pointer-events: none;
    z-index: 9998;
}

div.logo div#line {
    margin: auto 0 0 0;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 2s cubic-bezier(.6,0,0,1);
}

ul#menu {
    min-height: 70px;
    margin: 0;
    padding: 0;
    background-color: inherit;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 115px 0 5px 0;
    transition: height .2s, background-color .2s;
}

ul#menu.disabled {
    opacity: 0;
    pointer-events: none;
}

ul#menu.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 0;
    background-color: black;
    z-index: 999;
}

ul#menu li {
    position: relative;
    list-style: none;
    vertical-align: middle;
    padding: 2px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul#menu li a,
.header_menu_a {
    position: relative;
    display: block;
    margin: auto 0;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 5px;
    text-decoration: none;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

ul#menu li a::after,
.header_menu_a::after {
    display: block;
    position: relative;
    content: ".";
    margin: 0 auto;
    color: transparent;
    height: 1px;
    background: white;
    width: 0;
    bottom: -3px;
    pointer-events: none;
    transition: width .5s;
}

ul#menu li.dropdown ul {
    position: absolute;
    overflow-y: hidden;
    width: max-content;
    max-width: 240px;
    bottom: 1px;
    z-index: 1;
    height: 0;
    margin: 0;
    padding: 0;
    background-color: black;
    transform: translateY(100%);
    transition: height .5s;
}

ul#menu li a:hover::after,
.header_menu_a:hover::after,
ul#menu li.selected-permanently > a::after {
    width: 100%;
}
/*#endregion*/

/*#region popups*/
.button {
    width: 300px;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background-color: #ff5252;
    text-align: center;
    cursor: pointer;
} 

.button span {
    line-height: 60px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    transition: opacity .1s ease-in;
}

.overlay.visible {
    pointer-events: auto;
    opacity: 1;

    transition: opacity .2s ease-in;
}

.popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #1b1f22;
    color: #fff;
    transform: scale(0.7, 0.7);

    transition: transform .25s cubic-bezier(.48,1.93,1,.68);
}

.overlay.visible .popup {
    transform: none;
}

.popup div.popup-content {
    position: relative;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 20px;
}

.popup hr {
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .popup {
        width: 100%;
        height: 100vh;
        font-size: 15px;
        padding: 0;
    }

    .popup div.popup-content {
        max-width: 600px;
    }
}

@media screen and (max-height: 460px) {
    .popup {
        width: 100%;
        height: 100vh;
        font-size: 15px;
        padding: 0;
    }

    .popup div.popup-content {
        max-width: 600px;
    }
}

.close-popup {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.close-popup:before {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    left: -4px;
    transform: rotate(-45deg);
}

.close-popup:after {
    content: '';
    background-color: #fff;
    position: absolute;
    height: 1px;
    width: 31px;
    top: 11px;
    transform: rotate(45deg);
    left: -4px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 40px;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    position: relative;
    display: block;
    font-weight: 700;
    padding: 2px 0;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.menu li a::after {
    display: block;
    position: relative;
    content: " ";
    color: transparent;
    height: 1px;
    background: white;
    width: 0;
    bottom: -1px;
    transition: width .5s;
}

.menu li a:hover::after{
    width: 100%;
    color: white;
}

#map_gandonchir{
    position: relative;
}
/*#endregion*/

/*#region preloader*/
#plug {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: opacity 2s cubic-bezier(.6,0,0,1);
    z-index: 9998;

    will-change: pointer-events, opacity;
}

#logo-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: calc(50vh);
    transform: translateY(-50%);
    transition: top 1s cubic-bezier(.6,0,0,1), transform 1s cubic-bezier(.6,0,0,1);
    z-index: 9998;
    
    will-change: top, transform;
}

#logo-box #helmet {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    height: 50vh;
    opacity: 0;
    transition: height 1s cubic-bezier(.6,0,0,1);

    will-change: opacity, height;
}

#logo-box #circle {
    position: absolute;
    height: 0;
    width: 0;
    border-radius: 100%;
    background-color: white;
    transition: transform 1.5s, border-radius .5s, height .5s, width .5s;

    will-change: width, height, border-radius, transform;
}

#logo-box #circle.full {
    width: 60vh;
    height: 60vh;
    border-radius: 30%;
}

#logo-box #circle.rotate {
    transform: rotateZ(180deg);
}

#logo-box #label {
    display: flex;
    overflow: visible hidden;
    transition: opacity .2s;

    will-change: contents, opacity;
}

#logo-box #label a.label-char {
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 4em;
    transform: translateY(100%);
    transition: transform .4s cubic-bezier(.19,1,.22,1);

    will-change: contents, transform;
}

@media screen and (orientation: portrait) {
    #logo-box #helmet {
        height: 25vh;
    }

    #logo-box #circle.full {
        width: 30vh;
        height: 30vh;
        border-radius: 30%;
        transform: rotateZ(180deg);
    }

    #logo-box #label a.label-char {
        font-size: 2em;
    }
}

@media screen and (max-height: 480px) {
    #logo-box #label a.label-char {
        font-size: 2em;
    }
}

@media screen and (max-width: 400px) {
    #logo-box #label a.label-char {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 300px) {
    #logo-box #label a.label-char {
        font-size: 1em;
    }
}
/*#endregion*/

/*#region content*/
.content {
    box-sizing: border-box;
    flex-direction: column;
    padding: 0 0 100px 0;
}

.content .padding {
    padding: 0 4vw 10px 4vw;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

.content h1 {
    margin: 0.67em 0;
    padding: 0 2vw;
    /* font-size: 100px; */
    text-align: center;
    font-weight: 700;
    font-size: 4em;
}

.content h1:not([static]) {
    position: relative;
    overflow-y: hidden;
}

.content h1:not([static]) span {
    display: block;
    transform: translateY(100%);

    transition: transform .8s cubic-bezier(.165,.84,.44,1);
}

.content h1:not([static]).visible span {
    transform: none;
}

.content h2 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding: 0 2vw;
}

.content h3 {
    font-size: 16pt;
    padding: 0 2vw;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 1em;
    padding-block-end: 1em;
}

.content p {
    padding: 0 2vw;
    box-sizing: border-box;
    text-align: justify;
    font-size: 14pt;
}

.content p.swappadding {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 1em;
    padding-block-end: 1em;
}

.content .enum {
    margin: 0 4vw;
    padding-inline-start: 20px;
    box-sizing: border-box;
}

.content .enum li {
    margin-bottom: 8px;
    font-size: 13pt;
}

.content hr {
    margin: 30px 3vw;
    border-color: gray;
    opacity: 0.1;
    border-radius: 4px;
    border-style: solid;
}

.content .image img,
.content .container img {
    box-shadow: 4px 4px 10px rgba(0,0,0,.3);
    border-radius: 5px;
    display: block;
}

.content .image {
    padding: 0 2vw;
    box-sizing: border-box;
}

.content .image img {
    width: 100%;
}
/*#endregion*/

/*#region container*/
.content .container {
    box-sizing: border-box;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    align-items: center;
    /* transition: opacity .6s .1s,transform .6s ease,-webkit-transform .6s ease; */
    grid-template-columns: repeat(12,1fr);
    gap: 0 20px;
    margin: 20px 0;
}

.content .container .left-image,
.content .container .right-image {
    grid-column: span 7;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content .container .right-image {
    grid-column: 6/span 7;
}

.content .container img {
    margin: 20px 0;
    width: 100%;
}

.content .container .right-description,
.content .container .left-description {
    grid-column: 8/span 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content .container .left-description {
    grid-column: span 5;
}

@media screen and (max-width: 700px) {
    .content .container {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .content .container .left-image,
    .content .container .left-description {
        grid-column: 1;
    }
    
    .content .container .right-description,
    .content .container .right-image {
        grid-column: 1;
        grid-row: 2;
    }
}
/*#endregion*/

/*#region wave*/
.content .wave-up svg,
.content .wave-down svg {
    display: block;
}

.content .wave-up svg path,
.content .wave-down svg path {
    fill: currentColor; 
    animation-play-state: running;
}

.content .wave-down {
    transform: matrix(1,0,0,-1,0,0);
}

.content .between-waves {
    /* margin: 0 -4vw 0 -4vw; */
    /* padding: 0 4vw 0 4vw; */
    background-color: #f6f6f6;
    overflow: auto;
}

.content .wave1 {
    color: #f6f6f6;
    -webkit-animation: waveDividerAnimation1 20s linear infinite alternate;
    -moz-animation: waveDividerAnimation1 20s linear infinite alternate;
    -o-animation: waveDividerAnimation1 20s linear infinite alternate;
    animation: waveDividerAnimation1 20s linear infinite alternate;
}

@-webkit-keyframes waveDividerAnimation1 {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z")
    }

    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z")
    }

    to {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z")
    }
}

@-moz-keyframes waveDividerAnimation1 {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z")
    }

    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z")
    }

    to {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z")
    }
}

@-o-keyframes waveDividerAnimation1 {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z")
    }

    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z")
    }

    to {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z")
    }
}

@keyframes waveDividerAnimation1 {
    0% {
        d: path("M826.337463,25.5396311 C670.970254,58.655965 603.696181,68.7870267 447.802481,35.1443383 C293.342778,1.81111414 137.33377,1.81111414 0,1.81111414 L0,150 L1920,150 L1920,1.81111414 C1739.53523,-16.6853983 1679.86404,73.1607868 1389.7826,37.4859505 C1099.70117,1.81111414 981.704672,-7.57670281 826.337463,25.5396311 Z")
    }

    50% {
        d: path("M655.558582,28.4898877 C500.191373,61.6062216 422.833785,83.5422763 266.940085,49.8995879 C112.480383,16.5663637 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,49.8995879 C1580.91676,-34.8808285 1438.10804,73.6768193 1148.0266,38.0019829 C857.945166,2.32714659 810.925791,-4.62644617 655.558582,28.4898877 Z")
    }

    to {
        d: path("M842.322034,38.0019829 C686.954825,71.1183168 623.386282,53.08497 467.492582,19.4422816 C313.032879,-13.8909426 84.0992497,8.02840272 0,44.7243294 L0,150.727527 L1920,150.727527 L1920,76.8685643 C1512.23604,-35.3595639 1568.70222,67.4289432 1278.62078,31.7541069 C988.539347,-3.92072949 997.689243,4.88564905 842.322034,38.0019829 Z")
    }
}
/*#endregion*/

/*#region grid*/
.content div.grid {
    display: flex;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 16px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0 15px 0;
}
/* .content div.grid::after {
    position: relative;
    min-width: 30px;
    content: ' ';
    opacity: 0;
} */

.content div.grid ul {
    display: -ms-inline-grid;
    display: grid;
    grid-column-gap: 30px;
    -ms-grid-columns: 2fr 1fr;
    grid-template-columns: 2fr 1fr;
    padding: 0 30px;
    margin: 0;
    list-style-type: none;
}
.content div.grid ul[columns=three] {
    -ms-grid-columns: 3fr 1fr 1fr;
    grid-template-columns: 3fr 1fr 1fr;
}
.content div.grid ul[columns=four] {
    -ms-grid-columns: 4fr 1fr 1fr 1fr;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

.content div.grid ul li.column-header {
    position: relative;
    display: flex;
    padding: 30px 0 0px 0;
    box-sizing: border-box;
}

.content div.grid ul li {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 15px 0 15px 0;
}

.content div.grid ul li.first-column {
    font-weight: 700;
    margin: 0 15px 0 15px;
}

/* Чередование жирности 2 последних */
/* .content div.grid ul[columns=three] li:nth-child(2n + 1):not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    font-weight: 700;
} */

.content div.grid ul li.underline::after,
.content div.grid ul li.strikethrough::after {
    display: block;
    position: absolute;
    content: ".";
    margin: 0 auto;
    left: 0;
    color: transparent;
    height: 1px;
    background: #f2f5ff;
    bottom: -1px;
    width: 100%;
}

.content div.grid ul li.strikethrough::after {
    top: -1px;
    bottom: auto;
}

.content div.grid ul li h2 {
    text-align: left;
    font-weight: 700;
    margin: auto 15px 20px 15px;
}

.content div.grid ul li h3 {
    font-weight: 700;
    margin: auto 0 20px 0;
    padding: 0;
}
/*#endregion*/

/*#region tiles*/
.tiles {
    display: -ms-inline-grid;
    display: grid;
    list-style-type: none;
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.tiles li {
    display: flex;
    justify-content: center;
}

.tiles li a {
    max-height: 320px;
    max-width: 600px;
    margin: 7.5px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 4px 4px 10px rgba(0,0,0,.4);
    grid-row: auto;
    grid-column: auto;
}

@media screen and (max-width: 960px) {
    .tiles {
        grid-template-columns: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .tiles {
        grid-template-columns: 1fr;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.tiles li a img {
    display: block;
    width: 100%;
    transform: scale(1.05);
    opacity: 1;
    pointer-events: none;

    transition: transform 2s cubic-bezier(.19,1,.22,1), opacity .8s cubic-bezier(.19,1,.22,1);
}

.tiles li a:hover img {
    transform: scale(1.1);
}

.tiles li a:active img {
    transform: scale(1.05);
}

.tiles li a.hidden img {
    transform: scale(1.2);
    opacity: 0;
}
/*#endregion*/

/*#region gridline*/
.gridline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.gridline li {
    margin: 4px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.3);
    display: inline-block;
}

.gridline li img {
    height: 200px;
    display: block;
}
/*#endregion*/

/*#region scrollbars*/
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: rgb(190, 190, 190);/*rgb(89, 92, 98);*/
}

*::-webkit-scrollbar-thumb {
    background-color: gray;/*rgb(239, 187, 53);*/
    border-radius: 3px;
}

*::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
    background: rgb(190, 190, 190);
    content: "\\";
    color: whitesmoke;
}

* {
    scrollbar-width: thin;
    scrollbar-color: gray;
    scrollbar-track-color: rgb(190, 190, 190);

    -ms-scrollbar-base-color: unset;
    -ms-scrollbar-track-color: transparent;
}
/*#endregion*/

/*#region transitions*/
body {
    opacity: 0;

    transition: opacity .5s;
}

*[transition] {
    cursor: pointer;
}
/*#endregion*/

/*#region FORM */
.contacts {
    display: flex;
    justify-content: center;
}

.contacts form p {
    margin: 15px 0;
}

.contacts form p > * {
    resize: vertical;
    padding: 10px;
    height: 4.5em;
    width: 100%;
    border-color: transparent;
    border-width: 1px;
    box-sizing: border-box;

    transition: border-color .3s, border-width .2s;
}

.contacts form p > input[type=text].invalid {
    border-color: red;
}

.contacts form p > *:focus {
    outline: none;
}

.contacts form p.inline {
    display: flex;
    flex-direction: row;
    margin: 0 -10px;
}

.contacts form p.inline > * {
    margin: 0 10px;
}

#contact_btn {
    font-weight: bold;
    cursor: pointer;

    transition: background-color .2s;
}

#contact_btn:hover {
    background-color: rgb(230, 230, 230);
}

#contact_btn:active {
    background-color: rgb(210, 210, 210);
}

.multiline-paceholder::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    white-space: pre-line;  
    position: relative;
    top: -8px;
}
.multiline-paceholder::-moz-placeholder { /* Firefox 19+ */
    white-space: pre-line;  
    position: relative;
    top: -8px;
}
.multiline-paceholder:-ms-input-placeholder { /* IE 10+ */
    white-space: pre-line;  
    position: relative;
    top: -8px;
}
.multiline-paceholder:-moz-placeholder { /* Firefox 18- */
    white-space: pre-line;  
    position: relative;
    top: -8px;
}
/*#endregion*/

.black_underline::after {
    background-color: black;
}

/*#region ScrollToTop*/
.scrolltotop {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    transform: translate(55%, 55%);

    transition: transform .5s, opacity .5s;
}

.scrolltotop:hover {
    opacity: 1;
}

.scrolltotop .rotate {
    width: 25vw;
    height: 25vw;
    max-height: 150px;
    max-width: 150px;
    transform: rotateZ(45deg);
    background-color: black;
    cursor: pointer;

    transition: transform .5s;
}

.scrolltotop .rotate svg {
    stroke: whitesmoke;
    stroke-width: 3px;
    width: 15%;
    transform: rotateZ(135deg) translate(130%, -160%);
}

.scrolltotop.hidden {
    transform: translate(25%, 100%);
}

.scrolltotop.hidden .rotate {
    transform: rotateZ(90deg);
}
/*#endregion*/
#logo_footer{
    height:100px;
    display: flex;
    filter: invert(100%);
    justify-content: center;
    position:relative;
    top: 15px;
    clear: both;
}

footer:after{
  content: '';
  display: block;
  clear: both;
}
footer{
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    overflow: auto;
    background: black;
}
.footer_text{
    float: left;
}
#footer_line{
    border: 1px solid white;
    width: 100%;
    clear: both;
}
.kek_position{
    position: relative;
    top: 35px;
}



