@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap%27');

body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*
header div.logo          = 108px
header div.logo div#line = 2px
header ul                = 70px
body                     = *px
*/

/*#region header*/
header {
    position: fixed;
    height: 180px;
    width: 100%;
    background-color: black;
}

header div.logo {
    display: flex;
    height: 110px;
    width: 100%;
    justify-content: center;
}

header div.logo div#line {
    position: absolute;
    align-self: flex-end;
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width 2s cubic-bezier(.19,1,.22,1);
}

header ul {
    height: 70px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

header ul li {
    list-style: none;
    vertical-align: middle;
    padding: 0 10px;
}

header ul li a {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 5px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

header ul li a::after {
    display: block;
    position: absolute;
    content: ".";
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    color: transparent;
    height: 1px;
    z-index: -1;
    background: white;
    width: 0;
    transition: width .5s;
}

header ul li a:hover::after {
    width: 100%;
}
/*#endregion*/