/*#region logo-box*/
body {
    overflow: auto;
}

div.logo div#line {
    width: 100%;
    transition: none;
}

#plug {
    opacity: 0;
    transition: none;
    display: none;
}

#logo-box {
    top: 0;
    transition: none;
}

#logo-box #helmet {
    height: 110px;
    opacity: 1;
    transition: none;
}

#logo-box #circle {
    transition: none;
}

#logo-box #label {
    transition: none;
}

#logo-box #label a.label-char {
    transition: none;
}
/*#endregion*/